
/*Fonts//////////////////////////////////////*/


p, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif !important;
}

/*Cover//////////////////////////////////////*/

.cover {
  margin: 0 0 40px 0;
}

.btn-default {
  border: 0 !important;
}

.btn-success {
  color: #fff !important;
}

.navbar-default {
	background-color: #fff !important;
}

.navvy a {
	color: #666;
	margin-top: 60px;
}

.navvo a {
	color: #666;
	margin: 20px 0px;
}


.cover img {
	width: 400px;
	height: auto;
	margin-top: 50px;
}

.cover-text {
	margin: 50px;
}

#head1 {
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	color: #000;
}

#head2 {
	font-size: 45px;
	font-weight: bold;
	text-align: right;
	color: #333;
}

#head3 {
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color: #666;
}

/*Menu//////////////////////////////////////*/

.logo {
	height: 25px;
	margin-right: 10px;
}

/*Sponsors//////////////////////////////////////*/

#sponsors {
	margin: 3% 0%;
}

#sponsors li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#header p {
	font-size: 30px !important;
	font-weight: bold;
	color: #333;
	font-style: normal !important;
}

#header {
	border-bottom: 1px dotted #999;
	margin: 3% 0%;
}

.gold img {
	margin: 30px 10px;
}

/*About//////////////////////////////////////*/

#about {
	padding: 3%;
}

#about p {
	font-size: 18px;
	text-align: justify;
}

#about b {
	font-size: 20px;
}

/*Venue//////////////////////////////////////*/

.venue img {
	width: 70%;
}

.venue-text {
	font-size: 20px;
	color: #666;
}

.map {
	margin: 30px 0px;
	position: relative;
    padding-bottom: 25%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*Countdown//////////////////////////////////////*/

.countdown {
	background-color: #0d296a;
}

/*Schedule//////////////////////////////////////*/

#schedule .table > tbody > tr > td {
	vertical-align: middle;
}

#schedule img {
	width: 50px;
	height: auto;
}

.schedule-caption {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.by {
	font-size: 12px;
}

.workshop-caption {
	font-size: 24px;
	margin-bottom: 20px;
  	margin-top: 30px;
}

/*Speakers//////////////////////////////////////*/


#speakers img {
	height: 150px;
	margin: 10px 50px;
	text-align: center;
}

#speakers h3 {
	text-align: center;
}

#speakers b {
	color: #1e51a4;
}

#speakers p {
	font-size: 15px;
	font-style: italic;
}

.speaker {
	border: 1px solid #d1d1d1;
	height: 450px;
	padding: 5%;
	margin: 5%;
	border-radius: 10px;
	 -webkit-border-radius: 10px; 
	 -moz-border-radius: 10px; 
}

.speaker:hover {
	background-color: #0d296a;
	color: #fff;
}

.mspeaker {
	border: 2px solid #333;
	padding: 1%;
	margin: 1.5%;
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px; 
	 -moz-border-radius: 10px; 
	 background-color: #0d296a;
}


.mspeaker h3 {
	text-align: left !important;
	font-size: 36px;
}

.mspeaker p {
	font-size: 16px !important;
}

/*Press//////////////////////////////////////*/

.np-text p {
	text-align: justify;
}

.np-gallery li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

.np-gallery img {
	width: 200px;
 	margin-bottom: 30px;
}

/*Resources//////////////////////////////////////*/

#resources iframe {
	margin: 20px 0px;
}

/*Footer//////////////////////////////////////*/

.footer {
	background-color: #0d296a;
	padding: 3% 0%;
	color: #fff;
}

.footer p {
	font-size: 20px;
}

.footer a {
	color: #fff;
}

.footer i {
	margin-right: 20px;
}

.footer img {
	height: 100px;
}

/*Credits//////////////////////////////////////*/

.credits {
	background-color: #1C2326;
	padding-top: 10px;
	color: #fff;
}

