{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <title>APRENDO 2014 - Santo Domingo, RD.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/aprendo.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/soon.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Use this to quickly test CSS changes in a template,
        then move to app.css -->
    {% block extra_css %}
    {% endblock extra_css %}
  </head>

  <body>
  

  {% block nav %}

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{% static 'img/cubo.png' %}" class="logo"><span style="color:#1e51a4;">APRENDO 2014</span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">INICIO</a></li>
              <li><a href="/programa/">PROGRAMA</a></li>
              <li><a href="/charlistas/">CHARLISTAS</a></li>
              <li><a href="/talleres/">TALLERES</a></li>
              <li><a href="/patrocinadores/">PATROCINADORES</a></li>
              <li><button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#myModal">REGÍSTRATE</button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock nav %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Registro</h4>
          </div>
          <div class="modal-body">
            <div class="row">

              <div class="col-sm-12">
                  <div class="alert alert-success hidden" role="alert" id="alert-green">Su solicitud ha sido procesada.</div>

                  <div class="alert alert-danger hidden" role="alert" id="alert-red">Hubo un error en su solicitud, por favor inténtelo de nuevo.</div>
              </div>

              <div class="col-sm-9 col-sm-offset-2">

                <form action="formulario/" method="post" class="form-horizontal" id="new-form">
                  {% csrf_token %}

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-8">
                              {{ form.first_name }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Apellido</label>
                    <div class="col-sm-8">
                              {{ form.last_name }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Edad</label>
                    <div class="col-sm-8">
                              {{ form.age }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Correo</label>
                    <div class="col-sm-8">
                              {{ form.email }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-8">
                              {{ form.phone }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Sector</label>
                    <div class="col-sm-8">
                              {{ form.sector }}
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-form" id="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>


      {% block content %}

      {% endblock content %}

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p>Un evento de:</p>
            <img src="{% static 'img/sponsors/educa2.jpg' %}">
          </div>
          <div class="col-sm-4">
            <p>Para más información:</p>
            <address>
              <strong>EDUCA</strong><br>
              Av. Sarasota #20. Torre Empresarial AIRD<br>
              Santo Domingo, República Dominicana<br>
              Teléfono: (809) 682-1616<br>
              Email: educa@educa.org.do
            </address>
          </div>
           <div class="col-sm-4">
            <p>Síguenos</p>
            <a href="https://www.facebook.com/educa.sd"><i class="fa fa-facebook-square fa-5x"></i></a>
            <a href="https://twitter.com/Educa_RD"><i class="fa fa-twitter-square fa-5x"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="credits">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">Desarrollado por <a href="http://stancedata.com">Stance Data</a></p>
          </div>
        </div>
      </div>      
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/soon/plugins.js' %}"></script>
    <script src="{% static 'js/soon/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/soon/custom.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>

    <script type="text/javascript">
      var link = $("#submit");
 
      link.click(
          function(event){
              //eliminate the default function
              event.preventDefault();
              $.ajax({
                  url: '/formulario/',
                  data:  $('#new-form').serialize(), 
                  type: "POST",
                  success: 
                      function(result){
                          $('#alert-green').removeClass('hidden');
                          $('#new-form').trigger('reset');
                          $('#alert-red').addClass('hidden');
                          $('#alert-green').delay(3000).queue(function(){$('#alert-green').addClass('hidden')});
                      },
                  error: 
                      function(xhr){
                          $('#alert-red').removeClass('hidden');
                          $('#alert-green').addClass('hidden');
                      }
              });
      });
    </script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
