{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


    <div id="speakers">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#1e51a4">CHARLISTAS</span></p>
            </div>
           </div><!-- /col-sm-6 -->
          </div><!-- /row -->

          <div class="row ">

          <div class="col-sm-4">
              <div class="text-center speaker">
    	        	<img src="{% static 'img/speakers/nilton.jpg' %}" class="img-square">
    	        	<h3>Nilton Vasconcelos</h3>
                <p>Secretario de Trabajo, Empleo, Renta y Deporte. Salvador de Bahía, Brasil.</p>
  	          </div>
            </div>

            <div class="col-sm-4">
              <div class="text-center speaker">
    	        	<img src="{% static 'img/speakers/marisol.jpg' %}" class="img-square">
    	        	<h3>Marisol Forero</h3>
                <p>Asesora de la Dirección de Movilidad y Formación para el Trabajo del Ministerio del Trabajo. Colombia.</p>
  	          </div>
            </div><!-- /row --> 
 
            <div class="col-sm-4">
              <div class="text-center speaker">
    	        	<img src="{% static 'img/speakers/rafael.jpg' %}" class="img-square">
    	        	<h3>Rafael Novella</h3>
                <p>Especialista en la Unidad de Mercados Laborales y Seguridad Social del Banco Interamericano de Desarrollo. Perú.</p>
  	          </div>
            </div><!-- /row --> 

            <div class="col-sm-4">
              <div class="text-center speaker">
    	        	<img src="{% static 'img/speakers/catherine.jpg' %}" class="img-square">
    	        	<h3>Catherine Piña</h3>
                <p>Directora Ejecutiva Iniciativa Empresarial para la Educación Técnica (IEET). RD.</p>
  	          </div>
            </div><!-- /row --> 

             <div class="col-sm-4">
              <div class="text-center speaker">
                <img src="{% static 'img/speakers/alfredo.jpg' %}" class="img-square">
                <h3>Alfredo Astorga </h3>
                <p>Especialista en empleo y juventud en riesgo. Ecuador.</p>
              </div>
            </div><!-- /row --> 

             <div class="col-sm-4">
              <div class="text-center speaker">
                <img src="{% static 'img/speakers/dale.png' %}" class="img-square">
                <h3>Dale Carnegie</h3>
                <p>USA</p>
              </div>
            </div><!-- /row --> 

            <div class="col-sm-4">
              <div class="text-center speaker">
                <img src="{% static 'img/speakers/denia.jpg' %}" class="img-square">
                <h3>Denia Burgos</h3>
                <p>INAFOCAM</p>
              </div>
            </div><!-- /row --> 

            <div class="col-sm-4">
              <div class="text-center speaker">
                <img src="{% static 'img/speakers/ligia.jpg' %}" class="img-square">
                <h3>Ligia Amada Melo</h3>
                <p>Ministra de Educación Superior, Ciencia y Tecnología</p>
              </div>
            </div><!-- /row --> 

            <div class="col-sm-4">
              <div class="text-center speaker">
                <img src="{% static 'img/speakers/luis.jpg' %}" class="img-square">
                <h3>Luis Betances</h3>
                <p>FL Bentances</p>
              </div>
            </div><!-- /row --> 

            <div class="col-sm-4">
              <div class="text-center speaker">
                <img src="{% static 'img/speakers/matrill.jpg' %}" class="img-square">
                <h3>Matril</h3>
                <p>.</p>
              </div>
            </div><!-- /row --> 

        </div><!-- /row -->
      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}
