{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    
    <div id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#27ae60">COLABORADORES</span></p>
            </div>
          </div><!-- /col-sm-6 -->
        </div><!-- /row -->
          <div class="row">
            <div class="col-sm-12">

            <ul class="gold text-center">
                <!-- MOST IMPORTANT -->
                <li><img src="{% static 'img/sponsors/popular.jpg' %}" style="height:150px;"></li>
              </ul>

              <ul class="gold text-center">
                <!-- SECOND MOST IMPORTANT -->
                <li><img src="{% static 'img/sponsors/usaid.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/entrena.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/bid.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/neo.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/propagas.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/inafocam.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/minerd.jpg' %}"></li>

                <!-- PLATINUM -->

                <li><img src="{% static 'img/sponsors/tropicalia.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/platino/cespm.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/platino/seaboard.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/platino/interquimica.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/platino/sid.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/platino/multiquimica.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/platino/maritima.jpg' %}"></li>

                <!-- GOLD -->

                <li><img src="{% static 'img/sponsors/gold/fersan.jpg' %}"></li>
                 <li><img src="{% static 'img/sponsors/gold/sans.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/gold/laesa.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/gold/sanfelipe.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/gold/ferquido.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/gold/cnd.jpg' %}"></li>

                <!-- EVERYBODY ELSE -->

                <li><img src="{% static 'img/sponsors/brugal.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/mescyt.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/ieet.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/fl.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/microsoft.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/infotep.jpg' %}"></li>
      <!--           <li><img src="{% static 'img/sponsors/orange.jpg' %}"></li> -->
                <li><img src="{% static 'img/sponsors/lea.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/sm.jpg' %}"></li>
                <li><img src="{% static 'img/sponsors/susaeta.jpg' %}"></li>
                
              </ul>

            </div>
          </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /sponsors -->    

{% endblock %}
  
