{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'magnific/magnific-popup.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}


    <div id="gallery">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#1e51a4">GALERÍA</span></p>
            </div>
           </div><!-- /col-sm-6 -->
          </div><!-- /row -->

          <div class="row">
            <div class="col-sm-12">
              <div class="np-gallery text-center" style="margin: 30px 0px">
                <ul>
                  <li><a href="{% static 'img/np/6.jpg' %}"><img src="{% static 'img/np/6.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/8.jpg' %}"><img src="{% static 'img/np/8.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/9.jpg' %}"><img src="{% static 'img/np/9.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/10.JPG' %}"><img src="{% static 'img/np/10.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/11.jpg' %}"><img src="{% static 'img/np/11.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/12.jpg' %}"><img src="{% static 'img/np/12.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/13.JPG' %}"><img src="{% static 'img/np/13.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/14.JPG' %}"><img src="{% static 'img/np/14.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/15.JPG' %}"><img src="{% static 'img/np/15.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/16.JPG' %}"><img src="{% static 'img/np/16.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/17.JPG' %}"><img src="{% static 'img/np/17.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/18.JPG' %}"><img src="{% static 'img/np/18.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/19.JPG' %}"><img src="{% static 'img/np/19.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/20.JPG' %}"><img src="{% static 'img/np/20.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/21.JPG' %}"><img src="{% static 'img/np/21.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/22.JPG' %}"><img src="{% static 'img/np/22.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/23.JPG' %}"><img src="{% static 'img/np/23.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/24.JPG' %}"><img src="{% static 'img/np/24.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/25.JPG' %}"><img src="{% static 'img/np/25.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/26.JPG' %}"><img src="{% static 'img/np/26.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/27.JPG' %}"><img src="{% static 'img/np/27.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/28.JPG' %}"><img src="{% static 'img/np/28.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/29.JPG' %}"><img src="{% static 'img/np/29.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/30.JPG' %}"><img src="{% static 'img/np/30.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/31.JPG' %}"><img src="{% static 'img/np/31.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/32.JPG' %}"><img src="{% static 'img/np/32.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/33.JPG' %}"><img src="{% static 'img/np/33.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/34.JPG' %}"><img src="{% static 'img/np/34.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/35.JPG' %}"><img src="{% static 'img/np/35.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/36.JPG' %}"><img src="{% static 'img/np/36.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/37.JPG' %}"><img src="{% static 'img/np/37.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/38.JPG' %}"><img src="{% static 'img/np/38.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/39.JPG' %}"><img src="{% static 'img/np/39.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/40.JPG' %}"><img src="{% static 'img/np/40.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/41.JPG' %}"><img src="{% static 'img/np/41.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/42.JPG' %}"><img src="{% static 'img/np/42.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/43.JPG' %}"><img src="{% static 'img/np/43.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/44.JPG' %}"><img src="{% static 'img/np/44.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/45.JPG' %}"><img src="{% static 'img/np/45.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/46.JPG' %}"><img src="{% static 'img/np/46.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/47.JPG' %}"><img src="{% static 'img/np/47.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/48.JPG' %}"><img src="{% static 'img/np/48.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/49.JPG' %}"><img src="{% static 'img/np/49.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/50.JPG' %}"><img src="{% static 'img/np/50.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/51.JPG' %}"><img src="{% static 'img/np/51.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/52.JPG' %}"><img src="{% static 'img/np/52.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/53.JPG' %}"><img src="{% static 'img/np/53.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/54.JPG' %}"><img src="{% static 'img/np/54.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/55.JPG' %}"><img src="{% static 'img/np/55.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/56.JPG' %}"><img src="{% static 'img/np/56.JPG' %}"></a></li>
                  <li><a href="{% static 'img/np/57.JPG' %}"><img src="{% static 'img/np/57.JPG' %}"></a></li>
                </ul>
              </div>
            </div>
          </div>

      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}

{% block extra_js %}
<script src="{% static 'magnific/jquery.magnific-popup.js' %}"></script>
{% endblock extra_js %}


