{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
{% block nav %}
{% endblock nav %}
    
    <div class="cover">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">  
                    <img src="{% static 'img/cubo7.gif' %}">
                </div>

                <div class="col-sm-8">
                  
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <ul class="nav nav-pills navvy hidden-xs">
                              <li><a href="/">INICIO</a></li>
                              <li><a href="/programa/">PROGRAMA</a></li>
                              <li><a href="/charlistas/">CHARLISTAS</a></li>
                              <li><a href="/talleres/">TALLERES</a></li>
                              <li><a href="/patrocinadores/">PATROCINADORES</a></li>
                              <li><a href="" class="btn btn-success" data-toggle="modal" data-target="#myModal">REGÍSTRATE</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="cover-text">
                        <p id="head1">XVIII Congreso Internacional de Educación "APRENDO"</p>
                        <p id="head2">JÓVENES RD: <span style="color:#27ae60">EDUCACIÓN,</span> <span style="color:#ee2738">EMPLEO</span> <span style="color:#1e51a4">&amp; ESPERANZA</span></p>
                        <p id="head3">7, 8 y 9 de Noviembre, 2014</p>
                    </div>
                    </div>
                    
                </div><!-- /col-sm-8 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /cover -->

    <div class="countdown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div id="timer" data-animated="FadeIn">
              <div id="days" class="timer_box"></div>
              <div id="hours" class="timer_box"></div>
              <div id="minutes" class="timer_box"></div>
              <div id="seconds" class="timer_box"></div>
          </div>    
          </div>
        </div>
      </div>
    </div>

  <br>

    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6 col-sm-offset-3">
              <div id="header">
                  <p class="text-center"><span style="color:#27AE60">EVENTO</span></p>
              </div>
            </div><!-- /col-sm-6 -->
            <div class="col-sm-10 col-sm-offset-1" id="about">
              <p>
              El <span style="color:#27AE60"><b>Congreso Internacional de Educación Aprendo</b></span> es el encuentro de profesionales de la educación más exitoso de República Dominicana. Lleva realizándose 17 años ininterrumpidos en el cual participan cada año centenares de docentes provenientes de centros públicos y privados de todo el país.
            </p>
            <p>
              La  edición  <span style="color:#27AE60"><b>XVIII del Congreso Internacional de Educación Aprendo</b></span>, abordará como tema central la problemática actual de las relaciones entre la educación y el mercado de trabajo desde la perspectiva de los jóvenes. Este evento tendrá lugar en el Hotel Crowne Plaza (antes V Centenario) los días 7, 8 y 9 de noviembre próximos, que contará con más de 1,000 educadores, tomadores de decisión del sector público y sector privado.
            </p>
            <p>
              Asimismo, participarán reconocidos expertos internacionales de diversos países latinoamericanos y de Estados Unidos.
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="venue"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#1e51a4">LUGAR</span></p>
            </div>
          </div><!-- /col-sm-6 -->
        </div><!-- /row -->
        <div class="row">
          <div class="col-sm-12">
            <div class="venue-text text-center">
              <h3><span style="color:#333">Crowne Plaza Santo Domingo</span></h3>
              <p>Ave. George Washington #218</p>
              <p>Santo Domingo, República Dominicana</p>
            </div>
            <div class="map text-center">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.439193155457!2d-69.89621699999998!3d18.463754999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf8828bd49bfdf%3A0x90c842249e6c6c41!2sCrowne+Plaza+Santo+Domingo!5e0!3m2!1ses!2sdo!4v1412197407489" width="1000" height="300" frameborder="0" style="border:1px solid #999;"></iframe>
            </div>

          </div><!-- /col-sm-12 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /venue -->

    

    

{% endblock %}
  
