{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'magnific/magnific-popup.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}


    <div id="press">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header" style="margin-bottom:50px;">
                <p class="text-center"><span style="color:#1e51a4">NOTAS DE PRENSA</span></p>
            </div>
           </div><!-- /col-sm-6 -->
          </div><!-- /row -->

          <div class="row">
            <div class="col-sm-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#np1" role="tab" data-toggle="tab">Nota de Prensa 1</a></li>
                <li role="presentation"><a href="#np2" role="tab" data-toggle="tab">Nota de Prensa 2</a></li>
                <li role="presentation"><a href="#np3" role="tab" data-toggle="tab">Nota de Prensa 3</a></li>
                <li role="presentation"><a href="#np4" role="tab" data-toggle="tab">Nota de Prensa 4</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="np1">
                  <div class="row np-text">
                  <div class="col-sm-10 col-sm-offset-1">

                    <h4 style="font-size:20px">EDUCA y Banco Popular anuncian 18va edición del Congreso Internacional de Educación Aprendo 2014</h4>

                     <div class="np-gallery text-center" style="margin: 30px 0px">
                      <ul>
                        <li><a href="{% static 'img/np/2.jpg' %}"><img src="{% static 'img/np/2.jpg' %}"></a></li>
                        <li><a href="{% static 'img/np/3.jpg' %}"><img src="{% static 'img/np/3.jpg' %}"></a></li>
                        <li><a href="{% static 'img/np/5.jpg' %}"><img src="{% static 'img/np/5.jpg' %}"></a></li>
                        <li><a href="{% static 'img/np/4.jpg' %}"><img src="{% static 'img/np/4.jpg' %}"></a></li>
                      </ul>
                    </div>

                    <p><b>Santo Domingo, D.N.-.</b> Basados en el imperativo de plantear soluciones concretas que propicien articular el mercado de trabajo y el sistema educativo para ofrecer más y mejores oportunidades de acceso a una vida productiva a las personas jóvenes, Acción Empresarial por la Educación –EDUCA- y el Banco Popular Dominicano anunciaron la celebración del décimo octavo Congreso Internacional de Educación Aprendo 2014, que con el título <b><i>“Jóvenes RD: Educación, Empleo y Esperanza”</i></b> se efectuará del viernes 7 al domingo 9 de noviembre del año en curso.</p>
                    <p>“Aprendo” constituye el foro de profesionales de esa disciplina más exitoso de República Dominicana, con un aval de 18 años ininterrumpidos, congregando expertos nacionales, latinoamericanos y europeos, quienes a través de su experiencia, formación y talento contribuyen al conocimiento de nuevas orientaciones para los maestros dominicanos.</p>
                    <p>Los detalles del evento educativo, que tendrá lugar en el Hotel Crowne Plaza (antes Hotel V Centenario), fueron dados a conocer en el transcurso de un almuerzo con representantes de medios y líderes de opinión, encabezado por los directivos de ambas entidades, el Dr. Franklin Báez Brugal, vicepresidente de EDUCA, y el señor José Mármol, vicepresidente ejecutivo de Relaciones Públicas y Comunicaciones del Grupo Popular.</p>
                    <h4>Desencanto juvenil</h4>
                    <p>En sus palabras centrales, Báez Brugal destacó que mientras para algunos jóvenes las condiciones del mercado de trabajo les dificulta tomar decisiones frente a las distintas opciones que ofrece el sistema educativo, otros quedan desencantados al observar la discrepancia entre lo que aprenden en las aulas escolares y aquello que demandan las empresas cuando requieren sus servicios. </p>
                    <p>“No es de extrañar que, ante la disfuncionalidad entre el sistema educativo y el mercado de trabajo, uno de cada dos jóvenes no logre culminar la educación secundaria y uno de cada cuatro no estudie ni trabaje”, señaló el vicepresidente de EDUCA.</p>
                    <p>Al tiempo, indicó que en el Congreso Internacional Aprendo 2014 “abordaremos la problemática actual de las relaciones entre la educación y el mercado de trabajo desde la perspectiva de los jóvenes, procurando con ello aportar nuevos enfoques y alternativas para el desarrollo del proceso de enseñanza y aprendizaje en la educación”.</p>
                    <p>Por su parte, el señor José Mármol afirmó que “sin jóvenes capacitados, una nación no avanza ni social ni económicamente. Por esa razón, el Grupo Popular entiende que la educación constituye el pilar central que debe cimentar cualquier estrategia de desarrollo sostenible para el país. Una educación de calidad, que vaya de la mano con la evolución de los tiempos y asegure la creación de oportunidades laborales para la generación más joven, es la garantía para que podamos lograr una República Dominicana moderna, productiva, dinámica y competitiva”.</p>
                    <h4>Sobre Aprendo 2014</h4>
                    <p>Esta nueva versión del congreso internacional reunirá más de mil educadores, reconocidos expertos internacionales de diversos países latinoamericanos y de Estados Unidos, así como tomadores de decisión del sector público y privado.</p>
                    <p>Conforme a la tradición, el congreso inicia el viernes con la participación de un experto que ha afrontado el desafío del tema planteado, aplicando los conocimientos y las estrategias para resolverlo de una manera proactiva y concreta en otros contextos. </p>
                    <p>La mañana del sábado está destinada fundamentalmente a conocer la vanguardia del conocimiento a nivel latinoamericano sobre cómo alcanzar ese binomio de empleo y esperanza para la juventud a partir de un modelo educativo de calidad. Asimismo, se expondrán algunas experiencias concretas en jóvenes que ya se aplican hoy en la República Dominicana.</p>
                    <p>En la tarde del sábado se desarrollarán los talleres simultáneos, esta vez distribuidos en 6 salas temáticas, en cada una de las cuales se abordarán distintas perspectivas de la temática central. </p>
                    <p>Desde la pasada versión del Congreso Aprendo, se realiza un evento de integración al finalizar la tarde del sábado, para que educadores, estudiantes, tomadores de decisión y conferencistas internacionales puedan compartir en un espacio distendido sobre diversos temas vinculados con el congreso.</p>
                    <p>El domingo continuarán las experiencias internacionales y será el turno del Estado dominicano de exponer las políticas educativas y de promoción de empleo que vienen impulsando. </p>
                    <p>También se desarrollará una mesa con el objetivo de difundir y dar a conocer mejor el <b>Proyecto NEO-RD “Quisqueya cree en ti”</b>, resultado de una alianza público privada entre actores del sector público y privado que cuenta con el apoyo técnico y financiero del Fondo Multilateral de Inversiones (FOMIN) del Banco Interamericano de Desarrollo (BID).</p>
                    <p>Para finalizar, se realizará un espacio de conclusiones y recomendaciones, con el objetivo de nutrir la agenda pública nacional para mejorar la articulación entre la oferta educativa para jóvenes con las oportunidades que ofrece el mercado de trabajo.</p>

                    <div class="text-center">
                      <iframe src="//www.slideshare.net/slideshow/embed_code/40550155" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
                    </div>

                    </div>
                   </div><!-- /row -->

                </div>
                <div role="tabpanel" class="tab-pane" id="np2">
                  <div class="row np-text">
                  <div class="col-sm-10 col-sm-offset-1">

                    <h4 style="font-size:20px">EDUCA inaugura Congreso Internacional Aprendo 2014</h4>

                    <i>Procuran plantear soluciones a la divergencia entre la educación y oportunidades de trabajo de los jóvenes</i><br><br>

                    <p>Santo Domingo.-Con la presencia de más de mil (1000) educadores del sistema docente público y privado, y de renombrados  expertos en el área educativa nacional y de diversos países latinoamericanos y de Estados Unidos, Acción Empresarial por la Educación –EDUCA-  formalmente inauguró este viernes 7 de noviembre la décimo octava edición del Congreso Internacional de Educación “APRENDO 2014”.<br><br>

                    En esta nueva versión, APRENDO 2014 tiene como tema central “Jóvenes RD: Educación, Empleo y Esperanza”, y busca; a partir de nuevos enfoques y alternativas, plantear soluciones concretas que permitan encarar la problemática actual de las relaciones entre la educación y el mercado de trabajo desde la perspectiva de los jóvenes, procurando con ello poder ofrecerles más y mejores oportunidades de acceso a una vida productiva.<br><br>

                    El acto de apertura estuvo encabezado por el señor Franklin Báez Brugal, vicepresidente de EDUCA, el Ministro de Educación Lic. Carlos Amarante Baret y el licenciado Víctor Liriano del Banco Popular Dominicano, entidad patrocinadora principal del evento, conjuntamente con los principales directivos de EDUCA y de empresas colaboradoras.<br><br>

                    El mismo contó además con la colaboración de la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID), de ENTRENA, el Banco Interamericano de Desarrollo (BID), Fundación Propagas y un grupo importante de empresas patrocinadoras del evento.<br><br>

                    Las palabras de bienvenida y apertura correspondieron al señor Franklin Báez Brugal, quien destacó que “el Congreso estará abocado a la necesaria tarea de repensar la oferta educativa en general, y muy especialmente a la destinada a nuestros jóvenes en particular.<br><br>

                    Citó el estudio “Desconectados: habilidades, educación y empleo en América Latina”, del Banco Interamericano de Desarrollo, el cual destaca que existen dos acciones fundamentales para disminuir la brecha entre las habilidades que adquieren los jóvenes en el sistema educativo y las que reclama el mercado de trabajo.<br><br>

                    La primera, consiste en modificar los contenidos y la organización del sistema educativo, de forma de lograr una conexión directa entre los centros educativos y la empresa.<br><br>

                    La segunda, cambiar las pedagogías y las formas utilizadas para trasponer los conocimientos y habilidades en los jóvenes.  Es decir, formar individuos con habilidades y competencias pero también construir ciudadanía.”<br><br>

                    Franklin Báez  Brugal señaló que “actualmente los jóvenes quedan desencantados al observar la discrepancia entre lo que aprenden en las aulas escolares y aquello que demandan las empresas cuando requieren sus servicios y buscan jóvenes para contratar.”<br><br>

                    De acuerdo a lo planteado, se precisa entonces de identificar las necesidades de aprendizaje, partiendo de las necesidades básicas que les permitan adquirir aquellos conocimientos y habilidades necesarios para salir adelante dignamente y desarrollar sus capacidades, mejorar la calidad de vida, tomar decisiones e incluso continuar aprendiendo, tal cual lo requiere la sociedad actual caracterizada por profundos y acelerados cambios.<br><br>

                    ““Sin embargo, esto sólo puede llevarse a cabo si se diseña una estrategia que logre un modelo educativo que responda a las necesidades de la sociedad, que permita que los jóvenes obtengan las competencias que faciliten su inserción en el mercado laboral y que identifique y tome en cuenta las necesidades de aprendizaje y mejoramiento constante del individuo”, Franklin Báez Brugal<br><br>

                    En tanto, Nilton Vasconcelos, Secretario de Trabajo, Empleo, Renta y Deporte de Salvador de Bahía, Brasil, quien intervino en calidad de orador invitado con la charla magistral “Jóvenes, educación y mercado de trabajo: claves para armar el rompecabezas”, resaltó que con diferentes matices entre las naciones, el dilema en el que se encuentra la juventud alrededor del mundo es que no hay ocupación para todos, y, a menudo, cuando hay oportunidades de empleo, no hay trabajadores que reúnan el perfil profesional solicitado por las empresas para ocupar los puestos vacantes.<br><br>

                    Al respecto, consideró que si bien las inversiones en este campo son indispensables, la solución sólo vendrá con un enfoque global, que considere los diversos aspectos relacionados con el tema.<br><br>

                    “Ante la incapacidad de crear oportunidades en el mercado laboral, por lo general, se recomienda que los jóvenes deban permanecer en las escuelas para capacitarse más y llegar al mercado mejor preparados”, planteó.<br><br></p>

                     

                    <h4>APRENDO 2014</h4>

                    <p>

                     “APRENDO” constituye el foro de profesionales de esa disciplina más exitoso de República Dominicana, con un aval de 18 años ininterrumpidos congregando expertos nacionales, latinoamericanos y europeos, quienes a través de su experiencia, formación y talento contribuyen al conocimiento de nuevas orientaciones para los maestros dominicanos.<br><br>

                    Esta nueva versión del congreso internacional reunirá más de mil educadores, reconocidos expertos internacionales de diversos países latinoamericanos y de Estados Unidos, así como tomadores de decisión del sector público y privado.<br><br>

                    Conforme a la tradición, el congreso inicia el viernes con la participación de un experto que ha afrontado el desafío del tema planteado, aplicando los conocimientos y las estrategias para resolverlo de una manera proactiva y concreta en otros contextos.<br><br>

                    En esta oportunidad intervino en calidad de orador invitado de honor el secretario de Trabajo, Empleo, Renta y Deporte de Salvador de Bahía, Brasil, Nilton Vasconcelos, quien tuvo a su cargo la charla magistral “Jóvenes, educación y mercado de trabajo: claves para armar el rompecabezas”.<br><br>

                    La mañana del sábado está destinada fundamentalmente a conocer la vanguardia del conocimiento a nivel latinoamericano sobre cómo alcanzar ese binomio de empleo y esperanza para la juventud a partir de un modelo educativo de calidad.<br><br>

                    Entre los que expondrán figura Marisol Forero, Ministra de Trabajo de Colombia, quien tendrá a su cargo Articulación de Políticas Públicas de Empleo y Educación para Personas Jóvenes”Cesar Cordero, especialista en desarrollo e instrucción en programas de temas de Liderazgo, Gerencia, y quien es director ejecutivo de Dale Carnegie y actual director y representante para toda la República Dominicana. Pertenece a Dale Carnegie Training USA desde el año 2001.<br><br>

                    También Rafael Novella, Especialista en la Unidad de Mercados Laborales y Seguridad Social, Banco Interamericano de Desarrollo; Juan Luis Lozada Director Regional de Educación Microsoft“ Microsoft: Transformando el mundo a través de la educación “Director Regional de Educación de Microsoft y miembro fundador de la Asociación Global Shapers Community en República  Dominicana. En el 2010 creó el Programa Nacional de Becas de Software para desarrollar capital humano calificado para el desarrollo de dicho sector.<br><br>

                    Asimismo, se expondrán algunas experiencias concretas en jóvenes que ya se aplican hoy en la República Dominicana. En la tarde del sábado se desarrollarán los talleres simultáneos, esta vez distribuidos en 6 salas temáticas, en cada una de las cuales se abordarán distintas perspectivas de la temática central.<br><br>

                    Desde la pasada versión del Congreso Aprendo, se realiza un evento de integración al finalizar la tarde del sábado, para que educadores, estudiantes, tomadores de decisión y conferencistas internacionales puedan compartir en un espacio distendido sobre diversos temas vinculados con el congreso.<br><br>

                    El domingo continuarán las experiencias internacionales y será el turno del Estado dominicano de exponer las políticas educativas y de promoción de empleo que vienen impulsando.<br><br>

                    También se desarrollará una mesa con el objetivo de dar a conocer mejor el Proyecto NEO-RD “Quisqueya cree en ti”, resultado de una alianza público privada entre actores del sector público y privado que cuenta con el apoyo técnico y financiero del Fondo Multilateral de Inversiones (FOMIN) del Banco Interamericano de Desarrollo (BID).<br><br>

                    Para finalizar, se realizará un espacio de conclusiones y recomendaciones, con el objetivo de nutrir la agenda pública nacional para mejorar la articulación entre la oferta educativa para jóvenes con las oportunidades que ofrece el mercado de trabajo.</p>


                    </div>
                   </div><!-- /row -->
                </div>

                <div role="tabpanel" class="tab-pane" id="np3">
                   <div class="row np-text">
                  <div class="col-sm-10 col-sm-offset-1">

                    <h4 style="font-size:20px">Ministro de Trabajo Salvador de Bahía Brasil, sugiere estrategia de desarrollo incorpore política de empleos para jóvenes</h4>

                    <i>Asegura, solucionar disonancia entre educación y oportunidades de trabajo para los jóvenes requiere de un enfoque global</i><br><br>

                    <p>Santo Domingo.-El desafío de la educación profesional debe considerarse en el contexto de un proyecto de desarrollo económico y social, por lo cual la estrategia de desarrollo de un país y su política económica debe incorporar como elemento central la cantidad y la calidad de los empleos que se generen en el período histórico correspondiente.<br><br>

                    Y es que la educación, la formación profesional, mercado laboral, reestructuración productiva y desarrollo económico, son temas relacionados profundamente cuando se trata de analizar el estado de la juventud en la actualidad.<br><br>

                    Dichos criterios fueron externados por el Secretario de Trabajo, Empleo, Renta y Deporte de Salvador de Bahía, Brasil, Nilton Vasconcelos al pronunciar la charla magistral <b>“Jóvenes, educación y mercado de trabajo: claves para armar el rompecabezas”</b>, durante la inauguración del <b>XVIII Congreso Internacional de Educación “APRENDO”, Jóvenes RD: Educación, Empleo y Esperanza</b>, efectuado por Acción Empresarial para la Educación- EDUCA -este viernes 7 de noviembre del corriente, con la colaboración del Banco Popular Dominicano.<br><br>

                    APRENDO 2014 tuvo como tema central “Jóvenes RD: Educación, Empleo y Esperanza”, y postula la pertinencia de analizar nuevos enfoques y alternativas, que permitan plantear soluciones concretas para encarar la problemática actual; Buena parte de los jóvenes no encuentra en el sistema educativo las competencias que le permitan integrarse al mercado de trabajo, en tanto que las empresas declaran que las competencias que requieren, los recursos humanos no las traen consigo.<br><br>

                    <b>En todo el mundo, el dilema de la juventud es similar</b><br><br>

                    De acuerdo a Vasconcelos, con diferentes matices entre las naciones, el dilema que transita la juventud alrededor del mundo es que no hay ocupación para todos, y, a menudo, cuando hay oportunidades de empleo, no hay trabajadores que reúnan el perfil profesional solicitado por las empresas para ocupar los puestos vacantes.<br><br>

                    “Es en este punto donde los gestores públicos tienen la responsabilidad directa en el asunto, y por tanto deben enfrentar al reto de encontrar una solución al problema”, enfatizó el Secretario de Trabajo, Empleo, Renta y Deporte de Salvador de Bahía, Brasil.<br><br>

                    Afirmó que todos los países se enfrentan a este problema, sean de economías más débiles, países en vías de desarrollo o ya desarrollados, por lo que es muy común atribuir a la insuficiente formación profesional de los jóvenes la dificultad para acceder al mercado laboral.<br><br>

                    <b>La solución amerita de un enfoque global</b><br><br>

                    Para Nilton Vasconcelos aunque las inversiones en este campo son indispensables, la solución no vendrá sin un enfoque global, que considere los diversos aspectos relacionados con el tema.<br><br>

                    Indicó que los jóvenes tienen, en promedio, mejor escolaridad que aquellos que ocupan los puestos de trabajo existentes, pero este factor aislado no parece ser suficiente para que se les abran las puertas.<br><br>

                    Lamentó que el joven se transforma en una especie de ” joven-adulto “, debido a que no termina el proceso de formación, no asume posiciones que le garanticen la estabilidad necesaria para fundar una familia y avizorar un futuro en el cual se concreticen sus esperanzas.<br><br>

                    Consideró que en ese marco se requiere analizar de manera conjunta la formación profesional, las deficiencias de la educación básica, así como la política económica adoptada y su capacidad para promover la creación de empleos.<br><br>

                    “Además de las transformaciones derivadas de la reestructuración productiva, debemos considerar las consecuencias de un importante cambio generacional, una cuestión de naturaleza demográfica”, señaló Vasconcelos.<br><br>

                    Afirmó, que no se trata tan sólo de proporcionar empleos en cantidad, sino también de capacitar a los trabajadores para cubrir puestos más calificados.</p>

                    </div>
                   </div><!-- /row -->
                </div>
                <div role="tabpanel" class="tab-pane" id="np4">
                  <div class="row np-text">
                  <div class="col-sm-10 col-sm-offset-1">

                    <h4 style="font-size:20px">EDUCA y Banco Popular Dominicano clausuran XVIII Congreso Internacional Aprendo 2014</h4>

                    <i>Postulan que toda política destinada a articular educación y mercado de trabajo para jóvenes debe integrar a los mismos jóvenes desde el diseño hasta la implementación.</i><br><br>

                    <p>Santo Domingo-  Luego de tres (3) días de análisis durante el Congreso Internacional de Educación “APRENDO 2014”, “Jóvenes RD: Educación, Empleo y Esperanza” organizado por Acción Empresarial por la Educación (EDUCA) y el Banco Popular Dominicano, renombrados expertos en el área educativa nacional y de diversos países latinoamericanos y de Estados Unidos, concluyeron la jornada de trabajo con una serie de recomendaciones para mejorar la educación de los jóvenes dominicanos y su ingreso en el mercado laboral.<br><br>

                    En ese contexto, quedó de manifiesto la necesidad de generar los incentivos adecuados para que los más de 500mil jóvenes “Sin Sin, es decir sin competencias y sin oportunidades, se reinserten a la vida productiva nacional, sea en el sistema educativo o en el mundo del trabajo.<br><br></p>

                    <h4>Impulsar la educación técnica y tecnológica</h4>

                    <p>Al efecto, se planteó la necesidad de que los jóvenes permanezcan en las escuelas para capacitarse más y llegar al mercado mejor preparados, a la vez de recomendar impulsar la educación técnica y tecnológica como forma de reducir la brecha entre las demandas del sector productivo y las competencias de los jóvenes.<br><br>

                    En particular el Dr. Nilton Vasconellos, actual Secretario de Trabajo, Empleo, Renta y Deportes del Estado de Bahía en Brasil recomendó impulsar la educación técnica y tecnológica como forma de reducir la brecha entre las demandas del sector productivo y las competencias de los jóvenes<br><br></p>

                    <h4>Consolidar una política que combine crecimiento económico e inversión en educación básica y técnica”</h4>

                   <p>A juicio del Dr. Vasconellos, las inversiones en este campo son indispensables y la solución requiere un enfoque global que considere los diversos aspectos relacionados con el tema.<br><br>

                    “Hay resistencia del mercado laboral para absorber las capas más jóvenes de la población, pero es indiscutible que para romperlas es necesario consolidar una política pública que combine crecimiento económico e inversión en educación básica y técnica”, expresó Vasconellos.<br><br></p>

                    <h4>Estado, empresariado y la sociedad civil deben unir esfuerzos a favor de políticas</h4>

                    <p>Rafael Novella, especialista del Banco Interamericano de Desarrollo, por su parte oriento sus recomendaciones a fortalecer las políticas educativas dirigidas a lograr que la mayor cantidad posible de jóvenes culminen el ciclo de educación obligatoria, y al mismo tiempo, revisar las ofertas curriculares para que el aprendizaje de los jóvenes sea efectivo, tanto en conocimiento como en habilidades blandas.<br><br>

                    Para Novella este rediseño de políticas educativas no puede ser realizado únicamente por el Estado debe integrar otros actores relevantes como el sector empresarial, la sociedad civil y los mismos jóvenes.<br><br></p>

                    <h4>Lograr una verdadera alianza público privada</h4>

                    <p>Marisol Forero Cárdenas, de Colombia, por su lado, enfatizó la importancia de definir un marco nacional de cualificaciones entendiendo a este como el conjunto de competencias que definen el estándar de una determinada rama ocupacional.<br><br>

                    Partiendo de su experiencia, indica que el itinerario académico de un joven puede integrar diversas instituciones y tipo de formación para fortalecer un determinado perfil profesional, grado de articulación que no se da por sí solo.<br><br>

                    “Requiere de un espacio de trabajo conjunto, una verdadera alianza publico privada, como lo constituye el proyecto Quisqueya Cree en Ti  del capítulo NEO BID FOMIN para la Republica Dominicana”, planteó la Dra. Forero.<br><br>

                    Las citadas recomendaciones formaron parte de los resultados del décimo octavo XVIII Congreso Internacional de Educación “APRENDO 2014”, efectuado por EDUCA con el apoyo del Banco Popular Dominicano del del 7 al 9 de noviembre del corriente. El acto de cierre estuvo encabezado por los directivos de Educa las señoras Arelys M. Rodríguez y Rosa Margarita Bonetti de Santana así como el Sr. Enrique Darwin Caraballo, Director Ejecutivo; contó con la presencia de la Ministra de Educación Superior, Ciencia y Tecnología Ligia Amada Melo. En esta edición de APRENDO se propuso identificar nuevos enfoques y alternativas dirigidos a plantear soluciones concretas para encarar la problemática actual de las relaciones entre la educación y el mercado de trabajo desde la perspectiva de los jóvenes, procurando con ello poder ofrecerles más y mejores oportunidades de acceso a una vida productiva.<br><br></p>

                    <h4>Fortalecer las competencias blandas: comunicación oral y escrita efectiva</h4>

                    <p>En tanto, Cesar Cordero de Dale Carnegie Training USA enfatizo sus recomendaciones en fortalecer las competencias blandas que hoy están ausentes en la mayoría de las aulas de clases y que son tan importantes como los conocimientos específicos.<br><br>

                    Entre estas destaco las relaciones interpersonales, la comunicación oral y escrita efectiva, la educación enfocada hacia la resolución de problemas, la disciplina y el liderazgo.<br><br>

                    Cordero se refirió a estas como impulsores del éxito en un mundo cada vez más cambiante, cuya característica fundamental es el desconocimiento actual de los puestos de trabajo que se necesitaran en los años por venir.<br><br></p>

                    <h4>Revisar la oferta curricular de nivel técnico con carácter integral</h4>

                    <p>El Profesor Alfredo Astorga, destacado académico y actual responsable del programa de Pro Joven de Honduras indico como primera recomendación hacer un esfuerzo nacional para reconvertir la imagen de la educación técnica.<br><br>

                    Esta dijo suele estar asociada a educación de segundo nivel, para pobres, cuando en verdad se ha constituido en América  y el mundo como un espacio de formación productivo y rentable para los jóvenes de todos los niveles sociales que aspiran a una vida adulta digna y productiva.<br><br>

                    Advirtió que se debe ser cuidadoso a la hora de revisar la oferta curricular de nivel técnico para que esta sea de carácter integral.  Es decir, conocimientos científicos, culturales, habilidades para la vida y emprendimiento.<br><br>

                    En términos generales, la recomendación más relevante que resulta del congreso es que toda política destinada a articular educación y mercado de trabajo para jóvenes debe integrar a los mismos jóvenes desde el diseño hasta la implementación.<br><br>

                    Así quedo evidenciado luego de oír las historias de jóvenes del Programa Alerta Joven USAID ENTRENA, los cuales superaron situaciones de vulnerabilidad y riesgo con estrategias de bajo costo pero de alto impacto.<br><br>

                    Esto solo es posible si se prioriza a nivel nacional y se ve como una oportunidad el bono demográfico que todavía hoy presenta la Republica Dominicana.<br><br>

                    Afortunadamente las exposiciones de los representantes del sector público y en particular la Ministra de Educación Superior, Ciencia y Tecnología, Ligia Amada Melo compartió con lo mas de mil educadores que asistieron al evento la visión derivada del pacto Nacional por la Reforma Educativa que promueven una educación de calidad como un asunto de derechos para todo niño, niña y adolescente.<br><br></p>

                    <h4>APRENDO</h4>

                    <p>Constituye el foro de profesionales del sector educativo más exitoso de República Dominicana congregando expertos nacionales, latinoamericanos y europeos, quienes contribuye al conocimiento de nuevos enfoques y orientaciones para los maestros dominicanos, a través de espacios de reflexión y de intercambio en experiencias educativas innovadoras y exitosas en el manejo del ambiente escolar.<br><br>

                    Similar a los años anteriores, la agenda de trabajo comprendió experiencias de política educativa y estrategias de enseñanza, ponencias magistrales de prominentes académicos internacionales, resultados de investigación y aportes de entidades sociales y representantes de grupos editoriales que resultarán de interés para todos los educadores, tanto del sector privado como público.<br><br>

                    Como es tradición se exhibieron materiales didácticos a cargo de editoras, empresas e instituciones, que además de distribuir libros, software, recursos y juegos educativos, también imparten talleres prácticos en el uso de sus materiales y textos educativos.<br><br>

                    Asimismo, se produjeron 28 talleres simultáneos, organizados en siete salas temáticas, cada una orientada a profundizar en las principales dimensiones del tema.</p>

                    </div>
                   </div><!-- /row -->
                </div>
              </div>

            </div>
          </div>

   

      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}

{% block extra_js %}
<script src="{% static 'magnific/jquery.magnific-popup.js' %}"></script>
{% endblock extra_js %}


