{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'magnific/magnific-popup.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}


    <div id="press">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#1e51a4">NOTA DE PRENSA</span></p>
            </div>
           </div><!-- /col-sm-6 -->
          </div><!-- /row -->

          <div class="row np-text">
            <div class="col-sm-10 col-sm-offset-1">

              <h4 style="font-size:20px">EDUCA y Banco Popular anuncian 18va edición del Congreso Internacional de Educación Aprendo 2014</h4>

               <div class="np-gallery text-center" style="margin: 30px 0px">
                <ul>
                  <li><a href="{% static 'img/np/2.jpg' %}"><img src="{% static 'img/np/2.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/3.jpg' %}"><img src="{% static 'img/np/3.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/5.jpg' %}"><img src="{% static 'img/np/5.jpg' %}"></a></li>
                  <li><a href="{% static 'img/np/4.jpg' %}"><img src="{% static 'img/np/4.jpg' %}"></a></li>
                </ul>
              </div>

              <p><b>Santo Domingo, D.N.-.</b> Basados en el imperativo de plantear soluciones concretas que propicien articular el mercado de trabajo y el sistema educativo para ofrecer más y mejores oportunidades de acceso a una vida productiva a las personas jóvenes, Acción Empresarial por la Educación –EDUCA- y el Banco Popular Dominicano anunciaron la celebración del décimo octavo Congreso Internacional de Educación Aprendo 2014, que con el título <b><i>“Jóvenes RD: Educación, Empleo y Esperanza”</i></b> se efectuará del viernes 7 al domingo 9 de noviembre del año en curso.</p>
              <p>“Aprendo” constituye el foro de profesionales de esa disciplina más exitoso de República Dominicana, con un aval de 18 años ininterrumpidos, congregando expertos nacionales, latinoamericanos y europeos, quienes a través de su experiencia, formación y talento contribuyen al conocimiento de nuevas orientaciones para los maestros dominicanos.</p>
              <p>Los detalles del evento educativo, que tendrá lugar en el Hotel Crowne Plaza (antes Hotel V Centenario), fueron dados a conocer en el transcurso de un almuerzo con representantes de medios y líderes de opinión, encabezado por los directivos de ambas entidades, el Dr. Franklin Báez Brugal, vicepresidente de EDUCA, y el señor José Mármol, vicepresidente ejecutivo de Relaciones Públicas y Comunicaciones del Grupo Popular.</p>
              <h4>Desencanto juvenil</h4>
              <p>En sus palabras centrales, Báez Brugal destacó que mientras para algunos jóvenes las condiciones del mercado de trabajo les dificulta tomar decisiones frente a las distintas opciones que ofrece el sistema educativo, otros quedan desencantados al observar la discrepancia entre lo que aprenden en las aulas escolares y aquello que demandan las empresas cuando requieren sus servicios. </p>
              <p>“No es de extrañar que, ante la disfuncionalidad entre el sistema educativo y el mercado de trabajo, uno de cada dos jóvenes no logre culminar la educación secundaria y uno de cada cuatro no estudie ni trabaje”, señaló el vicepresidente de EDUCA.</p>
              <p>Al tiempo, indicó que en el Congreso Internacional Aprendo 2014 “abordaremos la problemática actual de las relaciones entre la educación y el mercado de trabajo desde la perspectiva de los jóvenes, procurando con ello aportar nuevos enfoques y alternativas para el desarrollo del proceso de enseñanza y aprendizaje en la educación”.</p>
              <p>Por su parte, el señor José Mármol afirmó que “sin jóvenes capacitados, una nación no avanza ni social ni económicamente. Por esa razón, el Grupo Popular entiende que la educación constituye el pilar central que debe cimentar cualquier estrategia de desarrollo sostenible para el país. Una educación de calidad, que vaya de la mano con la evolución de los tiempos y asegure la creación de oportunidades laborales para la generación más joven, es la garantía para que podamos lograr una República Dominicana moderna, productiva, dinámica y competitiva”.</p>
              <h4>Sobre Aprendo 2014</h4>
              <p>Esta nueva versión del congreso internacional reunirá más de mil educadores, reconocidos expertos internacionales de diversos países latinoamericanos y de Estados Unidos, así como tomadores de decisión del sector público y privado.</p>
              <p>Conforme a la tradición, el congreso inicia el viernes con la participación de un experto que ha afrontado el desafío del tema planteado, aplicando los conocimientos y las estrategias para resolverlo de una manera proactiva y concreta en otros contextos. </p>
              <p>La mañana del sábado está destinada fundamentalmente a conocer la vanguardia del conocimiento a nivel latinoamericano sobre cómo alcanzar ese binomio de empleo y esperanza para la juventud a partir de un modelo educativo de calidad. Asimismo, se expondrán algunas experiencias concretas en jóvenes que ya se aplican hoy en la República Dominicana.</p>
              <p>En la tarde del sábado se desarrollarán los talleres simultáneos, esta vez distribuidos en 6 salas temáticas, en cada una de las cuales se abordarán distintas perspectivas de la temática central. </p>
              <p>Desde la pasada versión del Congreso Aprendo, se realiza un evento de integración al finalizar la tarde del sábado, para que educadores, estudiantes, tomadores de decisión y conferencistas internacionales puedan compartir en un espacio distendido sobre diversos temas vinculados con el congreso.</p>
              <p>El domingo continuarán las experiencias internacionales y será el turno del Estado dominicano de exponer las políticas educativas y de promoción de empleo que vienen impulsando. </p>
              <p>También se desarrollará una mesa con el objetivo de difundir y dar a conocer mejor el <b>Proyecto NEO-RD “Quisqueya cree en ti”</b>, resultado de una alianza público privada entre actores del sector público y privado que cuenta con el apoyo técnico y financiero del Fondo Multilateral de Inversiones (FOMIN) del Banco Interamericano de Desarrollo (BID).</p>
              <p>Para finalizar, se realizará un espacio de conclusiones y recomendaciones, con el objetivo de nutrir la agenda pública nacional para mejorar la articulación entre la oferta educativa para jóvenes con las oportunidades que ofrece el mercado de trabajo.</p>

              <div class="text-center">
                <iframe src="//www.slideshare.net/slideshow/embed_code/40550155" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
              </div>


            </div>
        </div><!-- /row -->
      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}

{% block extra_js %}
<script src="{% static 'magnific/jquery.magnific-popup.js' %}"></script>
{% endblock extra_js %}


