{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

    <div id="schedule">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#1e51a4">PROGRAMA</span></p>
            </div>
          </div><!-- /col-sm-6 -->
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Viernes 7 de Noviembre</caption>
              <tr>
                <td width="20%">6:30 pm</td>
                <td>Inauguración Stands</td> 
              </tr>
              <tr>
                <td>7:00 pm</td>
                <td>Apertura del Congreso por <b>Elena Viyella de Paliza</b>, Presidente de Educa.</td> 
              </tr>
              <tr>
                <td>7:10 pm</td>
                <td>Palabras del Ministro de Educación de la República Dominicana <b>Carlos Amarante Baret.</b></td>
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td><b><i class="fa fa-microphone"></i>  “Jóvenes, educación y mercado de trabajo: claves para armar el rompecabezas”</b> <br><span class="by">Por <i>Nilton Vasconcelos</i>, Secretario de Trabajo, Empleo, Renta y Deporte. Salvador de Bahía, Brasil. </span>
				        </td> 
              </tr>
              <tr>
                <td>8:30 pm</td>
                <td>Acto cultural de cierre a cargo de <b>Alerta Joven</b>.</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Sábado 8 de Noviembre</caption>
              <tr>
                <td width="25%">8:00 am</td>
                <td>Inscripción, registro e inicio de actividades</td> 
              </tr>
              <tr>
                <td>8:30 am</td>
                <td><b>“Diseñando la nueva generación de jóvenes”</b><br><span class="by"> Por <i>Dale Carnegie</i>. USA</span></td> 
              </tr>
              <tr>
                <td>9:30 am</td>
                <td><b><i class="fa fa-microphone"></i> "Conferencia Magistral"</b><br><span class="by">Por <i>Rafael Novella</i> Especialista en la Unidad de Mercados Laborales y Seguridad Social del Banco Interamericano de Desarrollo. Perú.</span></td>
              </tr>
              <tr>
                <td>10:10 am</td>
                <td><i class="fa fa-coffee"></i> Receso</td> 
              </tr>
              <tr>
                <td>10:30 am</td>
                <td><b><i class="fa fa-microphone"></i> “Articulación de políticas públicas de empleo y educación para personas jóvenes”</b><br> <span class="by">Por <i>Alejandro Venegas</i>, Ministerio de Educación Nacional; Marisol Forero, Ministerio del Trabajo y representante SENA. Colombia</span></td> 
              </tr>
              <tr>
                <td>11:15 am</td>
                <td><b><i class="fa fa-microphone"></i> "Conferencia Magistral"</b><br> <span class="by">Por <i>Alerta Joven</i></span></td>
              </tr>
              <tr>
                <td>12:00 pm</td>
                <td><b><i class="fa fa-microphone"></i> "Conferencia Magistral"</b><br><span class="by">Por <i>Microsoft Dominicana</i></span> </td> 
              </tr>
              <tr>
                <td>12:30 pm</td>
                <td><i class="fa fa-coffee"></i> Almuerzo</td>
              </tr>
              <tr>
                <td>2:30 pm</td>
                <td>Talleres Simultáneos/Expositores locales</td>
              </tr>
              <tr>
                <td>7:00 pm</td>
                <td>Cierre jornada del día</td> 
              </tr>
              <tr>
                <td>7:10 pm</td>
                <td>Actividad de Integración</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Domingo 9 de Noviembre</caption>
              <tr>
                <td width="25%">8:30 am</td>
                <td>Inicio jornada</td> 
              </tr>
              <tr>
                <td>9:00 am</td>
                <td><b><i class="fa fa-microphone"></i> "Conferencia Magistral"</b><br> <span class="by">Por <i>Alfredo Astorga</i>, Especialista en empleo y juventud en riesgo. Ecuador. </span></td> 
              </tr>
              <tr>
                <td>9:30 am</td>
                <td><b><i class="fa fa-microphone"></i> “La política nacional de educación técnica de nivel medio y superior”</b><br><span class="by">Por <i>Ligia Amada Melo</i>, Ministra de Educación Superior y Mercedes Matrillé. Directora Modalidad Técnico Profesional y <i>Denia Burgos</i>, Directora del INAFOCAM</span></td>
              </tr>
              <tr>
                <td>10:30 am</td>
                <td><b><i class="fa fa-microphone"></i> “La Educación Técnica como Estrategia de Competitividad”</b><br> <span class="by">Por <i>Catherine Piña</i>, Directora Ejecutiva IEET. RD</span></td> 
              </tr>
              <tr>
                <td>11:15 am</td>
                <td><i class="fa fa-coffee"></i> Desayuno criollo y tiempo para la prueba de evaluación.</td> 
              </tr>
              <tr>
                <td>11:45 am</td>
                <td>Panel <b>“Quisqueya Cree en Ti”</b> Proyecto NEO-RD </td>
              </tr>
              <tr>
                <td>12:45 pm</td>
                <td>Conclusiones, Recomendaciones para las autoridades.</td> 
              </tr>
              <tr>
                <td>1:00 pm</td>
                <td>Clausura del Congreso </td> 
              </tr>
            </table>
          </div>
        </div><!-- /row --> 
      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}
