{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


    <div id="resources">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#1e51a4">RECURSOS</span></p>
            </div>
           </div><!-- /col-sm-6 -->
          </div><!-- /row -->

           <div class="row">
              <div class="col-sm-12">
              <h2>Documentos</h2>

              <div class="col-sm-4">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41523995" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
              </div>

              <div class="col-sm-8">
                <a href="{% static 'files/Discurso-FBB-Aprendo-2014.pdf' %}"><h3>Discurso de Franklin Báez Brugal</h3></a>
                <a href="{% static 'files/Presentacion-FBB-APRENDO-2014.pdf' %}"><h3>Presentación de Franklin Báez Brugal</h3></a>
                <a href="{% static 'files/Discurso-Nilton-Vasconcelos-Aprendo-2014.pdf' %}"><h3>Discurso del Dr. Nilton Vasconcelos</h3></a>
              </div>
              
            </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
              <h2>Conferencias Magistrales</h2>

              <div class="col-sm-4">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41700903" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
              </div>
              <div class="col-sm-4">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41423405" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
              </div>
              <div class="col-sm-4">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41423492" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
              </div>
              <div class="col-sm-4">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41423638" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
              </div>
              <div class="col-sm-4">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41423347" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
              </div>


            </div>
          </div>
   

          <div class="row">
            <h2>Talleres</h2>

            <div class="col-sm-12">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#sala1" aria-controls="home" role="tab" data-toggle="tab">Sala 1</a></li>
                <li role="presentation"><a href="#sala2" aria-controls="profile" role="tab" data-toggle="tab">Sala 2</a></li>
                <li role="presentation"><a href="#sala3" aria-controls="messages" role="tab" data-toggle="tab">Sala 3</a></li>
                <li role="presentation"><a href="#sala4" aria-controls="settings" role="tab" data-toggle="tab">Sala 4</a></li>
                <li role="presentation"><a href="#sala5" aria-controls="settings" role="tab" data-toggle="tab">Sala 5</a></li>
                <li role="presentation"><a href="#sala6" aria-controls="settings" role="tab" data-toggle="tab">Sala 6</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="sala1">

                <div class="row">
                    <div class="col-sm-12">
                    <h3>Sala 1</h3>
                    <div class="col-sm-4">
                      <iframe src="//www.slideshare.net/slideshow/embed_code/41424266" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    </div>

                    <div class="col-sm-4">
                      <iframe src="//www.slideshare.net/slideshow/embed_code/41424106" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    </div>
                  </div>
                </div>
                </div>

              
                <div role="tabpanel" class="tab-pane" id="sala2">
                  <div class="row">
                      <div class="col-sm-12">
                      <h3>Sala 2</h3>
                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41424600" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>
                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41424878" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>
                    </div>
                  </div>
                </div>


                <div role="tabpanel" class="tab-pane" id="sala3">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Sala 3</h3>
                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41524300" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>
                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41425503" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="sala4">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Sala 4</h3>
                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41425801" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>

                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41425849" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="sala5">

                  <div class="row">
                    <div class="col-sm-12">
                        <h3>Sala 5</h3>
                        <div class="col-sm-4">
                          <iframe src="//www.slideshare.net/slideshow/embed_code/41425926" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                        </div>

                        <div class="col-sm-4">
                          <iframe src="//www.slideshare.net/slideshow/embed_code/41425954" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                        </div>
                      </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="sala6">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Sala 6</h3>
                      <div class="col-sm-4">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/41426064" width="346" height="270" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                      </div>
                    </div>
                  </div>    
                </div>
              </div>

            </div>


            </div>

          </div>
      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}

{% block extra_js %}
{% endblock extra_js %}


