{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

    <div id="schedule">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#EE2738">TALLERES SIMULTÁNEOS</span></p>
            </div>
          </div><!-- /col-sm-6 -->
          <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-hover">
              <tr>
                <td width="20%"><b>Sala 1</b></td>
                <td>"Cómo orientar a los jóvenes para lograr su primer empleo sin salirse de la educación obligatoria. Técnicas para los educadores que reciben esta demanda"</td> 
              </tr>
              <tr>
                <td width="20%"><b>Sala 2</b></td>
                <td>"Los elementos básicos para un ingreso efectivo al mercado de trabajo"</td> 
              </tr>
              <tr>
                <td width="20%"><b>Sala 3</b></td>
                <td>"Empresarios le hablan a los educadores: que esperamos encontrar en un egresado de la educación media y superior."</td> 
              </tr>
              <tr>
                <td width="20%"><b>Sala 4</b></td>
                <td>"La revalorización de la educación técnica en la República Dominicana"</td> 
              </tr>
              <tr>
                <td width="20%"><b>Sala 5</b></td>
                <td>"El emprendimiento como mecanismo de inserción al mercado de trabajo"</td> 
              </tr>
              <tr>
                <td width="20%"><b>Sala 6</b></td>
                <td>"Instrumentos que facilitan el ingreso a una vida adulta productiva: becas, crédito educativo y voluntariado"</td> 
              </tr>
            </table>
          </div>
          </div>
        </div><!-- /row --> 
      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}
