{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

    <div id="schedule">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="header">
                <p class="text-center"><span style="color:#EE2738">TALLERES SIMULTÁNEOS</span></p>
            </div>
          </div><!-- /col-sm-6 -->

          <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
              <caption class="workshop-caption">Sala 1: "Cómo orientar a los jóvenes para lograr su primer empleo sin salirse de la educación obligatoria. Técnicas para los educadores que reciben esta demanda"</caption>
              <tr>
                <th width="100px">Hora</th>
                <th width="50px" colspan="2">Por</th>
                <th>Título</th>
              </tr>
              <tr>
                <td>3:00 - 3:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td><b>Lisanna Rosario</b><br>Sur Futuro</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>4:00 - 4:45</td>
                <td class="text-center" width="50px"><img src="{% static 'img/speakers/workshops/ester.jpg' %}" class="img-circle"> <br></td>
                <td><b>Esther Frías</b><br>ENTRENA</td>
                <td>Como orientar a los jóvenes lograr su primer empleo sin salirse de la educación obligatoria.</td>
              </tr>
              <tr>
                <td>5:00 - 5:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td><b>Josefina Luna y Katherine Duran</b></td>
                <td>Por una sexualidad sana y responsable & Soy Niña Soy Importante</td>
              </tr>
            </table>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
              <caption class="workshop-caption">Sala 2: "Los elementos básicos para un ingreso efectivo al mercado de trabajo"</caption>
              <tr>
                <th width="100px">Hora</th>
                <th width="50px" colspan="2">Por</th>
                <th>Título</th>
              </tr>
              <tr>
                <td>3:00 - 3:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/betances.jpg' %}" class="img-circle"></td>
                <td><b>Luis Betances</b><br>FL Betances</td>
                <td>El uso de la tecnología.</td>
              </tr>
              <tr>
                <td>4:00 - 4:45</td>
                <td class="text-center" width="50px"><img src="{% static 'img/speakers/workshops/juan.jpg' %}" class="img-circle"> <br></td>
                <td><b>Juan Valdez</b><br>DR – TESOL</td>
                <td>El inglés como herramienta fundamental</td>
              </tr>
              <tr>
                <td>5:00 - 5:45</td>
                <td class="text-center" rowspan="2"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td rowspan="2"><b>Rufino Díaz, Francisco Valdés, <br>Jorge Alvarado, Wagner Paniagua</b></td>
                <td rowspan="2">Habilidades Blandas: Centros de Autosuficiencia SUD e INFOTEP</td>
              </tr>
              <tr>
                <td>6:00 - 6:45</td>
              </tr>
            </table>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
              <caption class="workshop-caption">Sala 3: "Empresarios le hablan a los educadores: que esperamos encontrar en un egresado de la educación media y superior."</caption>
              <tr>
                <th width="100px">Hora</th>
                <th width="50px" colspan="2">Por</th>
                <th>Título</th>
              </tr>
              <tr>
                <td>3:00 - 3:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/isabel.jpg' %}" class="img-circle"></td>
                <td width="200px"><b>Isabel Estévez</b><br>ACERH</td>
                <td>Persona, Conocimiento y Actitud</td>
              </tr>
              <tr>
                <td>4:00 - 4:45</td>
                <td class="text-center" width="50px"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"> <br></td>
                <td><b>Virginia Quintana</b><br>Claro Dominicana</td>
                <td>Lo que demandan las empresas.</td>
              </tr>
              <tr>
                <td>5:00 - 5:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td><b>Gerente de RRHH</b><br>Grupo Ramos</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>6:00 - 6:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td><b>Gerente de RRHH</b><br>Banco Popular</td>
                <td>Por Anunciar</td>
              </tr>
            </table>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
              <caption class="workshop-caption">Sala 4: "La revalorización de la educación técnica en la República Dominicana"</caption>
              <tr>
                <th width="100px">Hora</th>
                <th width="50px" colspan="2">Por</th>
                <th>Título</th>
              </tr>
              <tr>
                <td>3:00 - 3:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td width="200px"><b>INFOTEP</b><br></td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>4:00 - 4:45</td>
                <td class="text-center" width="50px"><img src="{% static 'img/speakers/workshops/matrill.jpg' %}" class="img-circle"> <br></td>
                <td><b>Mercedes Matrillé</b><br>MINERD</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>5:00 - 5:45</td>
                <td class="text-center" rowspan="2"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td rowspan="2"><b>Ángela Español y José Armando Tavarez<br>IEET/ITLA/ITSC</b></td>
                <td rowspan="2">Por Anunciar</td>
              </tr>
              <tr>
                <td>6:00 - 6:45</td>
              </tr>
            </table>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
              <caption class="workshop-caption">Sala 5: "El emprendimiento como mecanismo de inserción al mercado de trabajo"</caption>
              <tr>
                <th width="100px">Hora</th>
                <th width="50px" colspan="2">Por</th>
                <th>Título</th>
              </tr>
              <tr>
                <td>3:00 - 3:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td width="200px"><b>Omar Pool</b><br>Incubadora de negocios CEINTEC</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>4:00 - 4:45</td>
                <td class="text-center" width="50px"><img src="{% static 'img/speakers/workshops/leonardo.jpg' %}" class="img-circle"> <br></td>
                <td><b>Leonardo Jimenez</b><br>Stance Data</td>
                <td>Como emprender sin morir en el intento.</td>
              </tr>
              <tr>
                <td>5:00 - 5:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/cesar.jpg' %}" class="img-circle"></td>
                <td><b>Cesar Asiático</b><br>Junior Achivement</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>6:00 - 6:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/claudina.jpg' %}" class="img-circle"></td>
                <td><b>Claudina Valdez</b><br>Vicepresidencia</td>
                <td>Por Anunciar</td>
              </tr>
            </table>
          </div>

           <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
              <caption class="workshop-caption">Sala 6: "Instrumentos que facilitan el ingreso a una vida adulta productiva: becas, crédito educativo y voluntariado"</caption>
              <tr>
                <th width="100px">Hora</th>
                <th width="50px" colspan="2">Por</th>
                <th>Título</th>
              </tr>
              <tr>
                <td>3:00 - 3:45</td>
                <td class="text-center"><img src="{% static 'img/speakers/workshops/profile.png' %}" class="img-circle"></td>
                <td width="250px"><b>Cynthia Leon</b><br>Credito Educativo OMTRIX</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>4:00 - 4:45</td>
                <td class="text-center" width="50px"><img src="{% static 'img/speakers/workshops/sena.jpg' %}" class="img-circle"> <br></td>
                <td><b>Luis Sena</b><br>Becas estudiantiles EDUPASS</td>
                <td>Por Anunciar</td>
              </tr>
              <tr>
                <td>5:00 - 5:45</td>
                <td class="text-center" rowspan="2"><img src="{% static 'img/speakers/workshops/yann.jpg' %}" class="img-circle"></td>
                <td rowspan="2"><b>Ivan Chevalier/ Yann Reynaud</b><br>ROTARAC de Rotary/Dream Project</td>
                <td rowspan="2">Voluntariado e intercambio cultural</td>
              </tr>
              <tr>
                <td>6:00 - 6:45</td>
              </tr>
            </table>
          </div>

          </div>
          </div>
        </div><!-- /row --> 
      </div><!-- container -->
    </div> <!-- /programa -->

{% endblock %}
